@page
@model ECommerce2.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Customer_FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Customer_LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Customer_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Customer_PhoneNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_PhoneNum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Customer_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Customer_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Customer_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
